@import url('./footer.css');
@import url('./header.css');

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.employment {
    width: 400px;
    min-height: 600px;
}

.employment img {
    width: 320px;
}

.info {
    display: flex;
    justify-content: center;
    font-style: oblique;
}

.news {
    margin-top: 5px;
}