<footer>
    <section>
        <table>
            <tr>
                <td>
                    <a href="https://github.com/SantiVigna">
                        <img src="{{ asset('img/githubLogo.png') }}" alt="">
                        SantiVigna_
                    </a>
                </td>
                <td>
                    <a href="https://www.instagram.com/santivigna_/">
                        <img src="{{ asset('img/instagramLogo.png') }}" alt="">
                        SantiVigna_

                    </a>
                </td>
            </tr>
        </table>
    <p>© 2024, Santino Vigna. All rights reserved.</p>
</section>
</footer>